/* Reset default margin and padding */
body, h1, h2, p, form, button, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.task-details {
    text-align: left;
    margin-bottom: 20px;
}

.task-details h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.task-details p {
    color: #333;
}

.sub-tasks {
    text-align: left;
    margin-top: 20px;
}

.add-sub-task {
    padding: 10px 20px;
    background-color: #0074e4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.add-sub-task:hover {
    background-color: #0052b2;
}

#inputContainer {
    margin-top: 10px;
}

#inputContainer div {
    margin-top: 5px;
}

#inputContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

#inputContainer input:hover {
    border-color: #0074e4;
}
/* Style for the "Create" button */
.create-button {
    padding: 10px 20px;
    background-color: #0074e4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.create-button:hover {
    background-color: #0052b2;
}
