/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.task-details {
    text-align: left;
    margin: 20px;
}

.detail-title {
    color: #0074e4;
    font-size: 20px;
    font-weight: bold;
}

.detail-description {
    color: #333;
    font-size: 16px;
}

.view-sub-tasks {
    text-align: left;
    margin: 20px;
}

.sub-tasks-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.sub-task-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sub-task-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.sub-task-label input {
    margin-right: 10px;
}

.sub-task-text {
    font-size: 16px;
    color: #333;
}

.save-button {
    padding: 10px 20px;
    background-color: #0074e4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.save-button:hover {
    background-color: #0052b2;
}

.sub-tasks {
    text-align: left;
    margin: 20px;
}

.add-sub-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.add-sub-button:hover {
    background-color: #45a049;
}

.create-button {
    padding: 10px 20px;
    background-color: #0074e4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.create-button:hover {
    background-color: #0052b2;
}

.custom-div {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.delete-sub-task-button {
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    text-decoration: none;
}

.delete-sub-task-button:hover {
    background-color: #ff0000;
}

